body {
    margin: 0;
    padding: 10px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 75px;
    border: 5px solid lightgray;
    background-color: whitesmoke;
    padding: 15px;
}

section#rules {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section#rules h3,
section#rules p {
    margin: 0;
    padding: 15px;
    color: white;
    text-shadow: 3px 3px 5px blue;
}

section#rules p {
    font-size: 25px;
}

section#rules button {
    font-size: 20px;
    width: 25%;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

section#display {
    display: none;
    flex-direction: column;
    gap: 20px;
}

div#subject {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 15px;
}

div.subjectImageContainer {
    border: 3px solid black;
    width: 300px;
    height: 200px;
}

div.subjectImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h2 {
    margin: 0;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 5px white;
}

p#query {
    border: 5px solid black;
    border-radius: 15px;
    background-color: lightgrey;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    margin: 0;
}

div#answers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

div#answers button {
    width: 45%;
    height: 100px;
    font-size: 30px;
    border-radius: 15px;
}

button.answer1 {
    border: 5px solid blue;
    background-color: lightskyblue;
    color: blue;
}

button.answer1:hover {
    border: 5px solid lightskyblue;
    background-color: blue;
    color: lightskyblue;
}

button.answer2 {
    border: 5px solid red;
    background-color: lightpink;
    color: red;
}

button.answer2:hover {
    border: 5px solid lightpink;
    background-color: red;
    color: lightpink;
}

button.answer3 {
    border: 5px solid orange;
    background-color: lightgoldenrodyellow;
    color: orange;
}

button.answer3:hover {
    border: 5px solid lightgoldenrodyellow;
    background-color: orange;
    color: lightgoldenrodyellow;
}

button.answer4 {
    border: 5px solid green;
    background-color: lightgreen;
    color: green;
}

button.answer4:hover {
    border: 5px solid lightgreen;
    background-color: green;
    color: lightgreen;
}

p#result {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

p#result.good {
color: lightgreen;
text-shadow: 0 0 5px black;
}

p#result.bad {
color: red;
text-shadow: 0 0 5px black;
}

div#next {
    display: none;
    justify-content: center;
}

div#next button {
    font-size: 20px;
}

section.score {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.score p {
    margin: 0;
    padding: 10px;
    color: white;
    text-shadow: 3px 3px 5px blue;
    font-size: 25px;
}

h3 {
    font-size: 50px;
}

h3~p {
    font-size: 20px;
}

section.score h3 {
    font-size: 75px;
    border: 5px solid lightgray;
    background-color: whitesmoke;
    padding: 15px;
}

div.commentImageContainer {
    width: 150px;
    height: 150px;
}

div.commentImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}